on:
  release:
    types: [created]

name: Publish to crate

jobs:
  publish:
    name: Publish to cargo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: clippy

      - run: cargo test
      - run: cargo test --features "serde-json"

      - uses: jetli/wasm-pack-action@v0.3.0
        with:
          version: "latest"

      - run: (cd wasm-example/ && wasm-pack build -t web)

      - uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
